# testnet futures
#https://testnet.binancefuture.com/en/futures/BTCUSDT
api_key_futures=
api_secret_futures=

# testnet Bitmex
#https://testnet.bitmex.com/app/apiKeys
api_key_bitmex=
api_secret_bitmex=

# BINANCE
#https://www.binance.com/en/my/settings/api-management
api_key=
secret_key=